{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MEDIPENSER-Camera</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  
  
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  </head>
 
<body>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
    
    .pt-5, .py-5 {
      padding-top: 0rem!important;
    }
    .mt-5, .my-5 {
      margin-top :2 rem!important;
    }
    footer { font-family: 'Nanum Gothic', sans-serif; }

    .floating 
    { position: fixed; right: 50%; 
      top: 600px; margin-right: -720px;
       text-align:center; width: 120px; }

    
       
    .modal-body::-webkit-scrollbar{ display:none; }

       
    .modal-dialog{position: fixed; 
      right: 50%; 
      top: 50px; margin-right: -520px;
       text-align:center; width: 800px; height: 800px;}

      .modal-body{max-height: calc(100vh - 210px);
       overflow-y: auto;-ms-overflow-style: none;}
    
  </style>
  <div class="site-wrap">
    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'main:index' %}" class="js-logo-clone"><img src="{% static 'images/logo1.png' %}" width='200'></a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="{% url 'main:index' %}">Home</a></li>
                <li class="active"><a href="{% url 'cam:show' %}">Camera</a></li>
                <li><a href="{% url 'main:about' %}">UserPage</a></li>
                <li><a href="{% url 'contact:list' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'member:login' %}">Logout</a></li>
                {%else%}
                <li><a href="{% url 'member:login' %}">Login</a></li>
                {%endif%}
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div> 

<!--네비게이션 END -->

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'main:index' %}" ><span style="color:#86DACA">Home</span></a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">Camera</strong></div>
        </div>
      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#86DACA" class="bi bi-camera-fill" viewBox="0 0 16 16">
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg>
            <article class="templatemo-item">
             
{% comment %}               
              <h2>여기를 보세요</h2> {% endcomment %}
              {%if l is 0 %}
              <h3>환자를 등록해주세요</h3>
            {%else%}
            <h3>등록된 환자: {{names}}</h3>
            {%endif%}
              <p>
               {% comment %} <img src="{% url 'cam:cap' %}" alt=""></br></br>	 {% endcomment %}
              </p>
      
            </article><hr> 
              </br>
              <p>
                <div class="btn_wrap">
                  <form action="{% url 'cam:Register' %}">
                  <button type="submit" class="btn btn-light" style='background-color:#86DACA'><span style='color:grey;font-weight:bold'>등록하기</span>
                </button></p></form>
              <div class="btn_wrap">
                <form action="{% url 'cam:mod' %}">
           <button type="submit" class="btn btn-light" style='background-color:#86DACA'><span style='color:grey;font-weight:bold'>인식하기</span></button></p>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% comment %} 챗봇 시작 {% endcomment %}
<div class='floating'><a href=# data-toggle="modal" data-target="#myModal"><img src="{% static 'images/chat1.png' %}" width='100'></a></div>
<div class="modal fade" id="myModal" role="dialog"> 
 <div class="modal-dialog"> 
   <div class="modal-content" style="background-color:#BAD3D2;color:black;"> 
     <div class="modal-header">
        <h4 class="modal-title">챗봇</h4> <button type="button" class="close" data-dismiss="modal">×</button> 
       </div> <div id="chatbox"class="modal-body" style="height:450px;margin-top:50px;padding:10px;background-color:#BAD3D2;overflow-y:scroll;overflow-x:hidden;max-height:100vh;color:black"> </div>
       <div class="chatfooter">
         <table width="100%">
             <tr>
             <td width="90%">
                 <input id="chattext" placeholder="질문을 입력하고 엔터키를 눌러주세요" style="padding:5px 0;width:100%;border:solid;color:grey;font-weight:bold;">
             </td>
             <td width="10%"><button class="btn btn-secondary" style="padding:5px 0;width:100%;background-color:#86DACA" onclick="sendAsk()" id="sendbtn"><span style='color:grey;font-weight:bold'>입력</span></button></td>
             </tr>
         </table>
     </div>
          </div> 
         <div class="modal-footer"> 
         
           </div>
         
       </div> 
     </div> 
   </div>

   {% block scripts %}
   <script>
   function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie !== '') {
           var cookies = document.cookie.split(';');
           for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
       
               if (cookie.substring(0, name.length + 1) === (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
           }
       }
       return cookieValue;
   }

   var csrftoken = getCookie('csrftoken');

   var xhr;

   function sendAsk() {
       chattext = document.getElementById("chattext").value;
       if(chattext == "") {
           document.getElementById("chattext").focus();
           return false;
       }

       addtext = "<div style='margin:15px 0;text-align:right;'> <span style='padding:3px 15px;background-color:#86DACA;border-radius:3px;'>" + chattext + "</span></div>";
       document.getElementById("chatbox").innerHTML += addtext;

       var strurl = "{% url 'main:chatanswer' %}?questext=" + chattext;
       //alert(strurl);
       //return false;

       xhr = new XMLHttpRequest();
       xhr.onreadystatechange = function() {
           if (xhr.readyState == 4) {
               var data = xhr.responseText;

               var obj = JSON.parse(data);

               if(obj.flag == "0"){

                   bottext = "<div style='margin:15px 0;text-align:left;'><span style='padding:3px 15px;background-color:white;border-radius:3px;'>" + obj.anstext + "</span></div>";
                   document.getElementById("chatbox").innerHTML += bottext;

                   var objDiv = document.getElementById("chatbox");
                   objDiv.scrollTop = objDiv.scrollHeight;

                   document.getElementById("chattext").value = "";
                   document.getElementById("chattext").focus();

               }
           }
       };
       xhr.open("GET", strurl);
       xhr.setRequestHeader("X-CSRFToken", csrftoken);
       xhr.send(null);
   }

 

   </script>
{% endblock %}
<script>

 var input = document.getElementById("chattext");
 
 input.addEventListener("keyup", function(event) {
   if (event.keyCode === 13) {
     document.getElementById("sendbtn").click();
   }
 });
 
 </script>
{% comment %} 챗봇 끝 {% endcomment %}

    <footer class="site-footer" style="background-color:#c6eee6; padding:3em 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" style="margin-right:120px;">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p style="color:#25262a;">'MEDIPENSER'는 치매나 지적장애인 등 보호가 필요한
                사람들에게 올바른 약을 복용할 수 있도록 얼굴인식을 기반으로 한 AI 서비스입니다.
              </p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="{% url 'cam:show' %}">CAMERA</a></li>
              <li><a href="{% url 'main:about' %}">USERPAGE</a></li>
              <li><a href="{% url 'contact:list' %}">CONTACT</a></li>
              
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">㈜케이티 대전 서구 탄방동 649 </li>
                <li class="phone"><a href="tel://0421234567">042 123 4567</a></li>
                <li class="email">medipenser@MEDIPENSER.com</li>
              </ul>
            </div>


          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> MEDIPENSER<i class="icon-heart" aria-hidden="true"></i> 
             <!-- by <a href="https://colorlib.com" target="_blank"
                class="text-primary">Colorlib</a>. Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a> -->
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>