<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>계정생성</h4>
        </div>
        <div class="col-8 text-right">
            <span>또는 <a href="{% url 'member:login' %}">로그인 하세요.</a></span>
        </div>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}

        {% include "form_errors.html" %}
        
        <div class="form-group">
            <label for="username">아이디(Id)</label>
            <input type="text" class="form-control" name="username" id="usermane"
                value="{{ form.username.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호(Password)</label>
            <input type="password" class="form-control" name="password" id="password"
                value="{{ form.password.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password2">비밀번호(Password) 확인</label>
            <input type="password2" class="form-control" name="password2" id="password2"
                value="{{ form.password2.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="fullname">성함(Name)</label>
            <input type="text" class="form-control" name="fullname" id="fullname"
                value="{{ form.fullname.value | default_if_none:'' }}">
        <div>
        <div class="form-group">
            <label for="phone">전화번호(Phone)</label>
            <input type="phone" class="form-control" name="phone" id="phone"
                value="{{ form.phone.value | default_if_none:'' }}">
        <div>
        <div class="form-group">
            <label for="email">이메일(email)</label>
            <input type="email" class="form-control" name="email" id="email"
                value="{{ form.email.value | default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="age">나이(age)</label>
            <input type="age" class="form-control" name="age" id="age"
                value="{{ form.age.value | default_if_none:'' }}">
        <div>
            <label for="age">성별(gender)</label>
            <div>
                <input type = "checkbox" name = "gender" value = "남">남</input>
                <input type = "checkbox" name = "gender" value = "여">여</input>
            </div>
        <div>   
         <div class="form-group">
            <label for="parmacy">자주가는 약국(parmacy)</label>
            <input type="parmacy" class="form-control" name="parmacy" id="parmacy"
                value="{{ form.parmacy.value | default_if_none:'' }}">
        <div> 

        <div class="form-row">
            <div class="form-group col-md-3">
            <label for="relation" class="text-black">환자와의 관계(Relation) <span class="text-danger" name="relation" id="relation"></span></label>
            
    
            <select id="relation" class="form-control" name='relation'>
                <option selected>환자와의 관계</option>
                <option value = "부모">부모</option>
                <option value = "배우자">배우자</option>
                <option value = "자녀">자녀</option>
                <option value = "형제">형제</option>
                <option value = "간병인">간병인</option>
                <option value = "친인척">친인척</option>

                {% comment %} {% if user.relation == "배우자" %}
                <option value = "배우자" selected>배우자</option>
                {% else%}
                <option value = "배우자">배우자</option>
                {% endif %}
                
                {% if user.relation == "자녀" %}
                <option value = "자녀" selected>배우자</option>
                {% else%}
                <option value = "자녀">자녀</option>
                {% endif %}

                {% if user.relation == "형제" %}
                <option value = "형제" selected>형제</option>
                {% else%}
                <option value = "형제">형제</option>
                {% endif %}

                {% if user.relation == "간병인" %}
                <option value = "간병인" selected>간병인</option>
                {% else%}
                <option value = "간병인">간병인</option>
                {% endif %}

                {% if user.relation == "친인척" %}
                <option value = "친인척" selected>친인척</option>
                {% else%}
                <option value = "친인척">친인척</option>
                {% endif %} {% endcomment %}

                
                </select>
              </div>
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>
      </form>
    </div>
    